apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: github-app-proxy-restrict-access
spec:
  podSelector:
    matchLabels:
      app: github-app-proxy
  policyTypes:
    - Ingress
  ingress:
  - from:
    - namespaceSelector:
        matchLabels:
          name: openclaw
    ports:
    - protocol: TCP
      port: 80
